/* #5cb85c */

body#init { background: #fff url("/images/bg-madowl.png") no-repeat fixed center; background-size: 100% 100%;  }

.jumbotron img, .jumbotron .input-lg, .jumbotron .btn { width: 100%; text-align: center; }
.jumbotron .input-lg { font-size: 2em; }